<PageLayout meta={meta}>
	<h1 class="title mb-6">[Collection Name] [Emoji]</h1>
	<div class="grid gap-y-16 sm:grid-cols-[3fr_1fr] sm:gap-x-8">
		<section aria-label="[Collection] list">
			{description && <p class="mb-6">{description}</p>}
			<ul class="space-y-8 text-start">
				{
					page.data.map((item) => (
						<li class="flex flex-col flex-wrap gap-2 sm:flex-row [&_q]:basis-full">
							<CollectionPreview as="h2" item={item} withDesc />
						</li>
					))
				}
			</ul>
			<Pagination {...paginationProps} />
		</section>

		<aside>
			{
				uniqueTags?.length ? (
					<>
						<h2 class="mb-4 flex items-center text-lg font-semibold">
							<svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-6 w-6">
								<path d="M5 5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16l-7-3.5L5 21V5z" />
							</svg>
							Tags
						</h2>
						<ul class="space-y-2">
							{uniqueTags.map((tag) => (
								<li>
									<a
										class="cactus-link inline-block"
										href={`/tags/${tag}`}
										title={`View posts with the tag: ${tag}`}
										rel="prefetch"
									>
										&#35;{tag}
									</a>
								</li>
							))}
						</ul>
					</>
				) : null
			}
		</aside>
	</div>
</PageLayout>

