---
import { getCollection } from 'astro:content';
import PageLayout from "@/layouts/Base.astro";

export async function getStaticPaths() {
  const training = await getCollection('training');
  
  const dates = new Set();
  training.forEach(entry => {
    const match = entry.id.match(/training-log-\d+-(\d{4})(\d{2})/);
    if (match) {
      dates.add(`${match[1]}/${match[2]}`);
    }
  });

  return Array.from(dates).map(date => {
    const [year, month] = date.split('/');
    return { params: { year, month } };
  });
}

const { year, month } = Astro.params;

const entries = await getCollection('training', (entry) => {
  const match = entry.id.match(/training-log-\d+-(\d{4})(\d{2})/);
  return match && match[1] === year && match[2] === month;
});

const sortedEntries = entries.sort((a, b) => 
  b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);

const monthYear = new Date(`${year}-${month}-01`).toLocaleString('default', { 
  month: 'long', 
  year: 'numeric' 
});
---

<PageLayout meta={{ title: monthYear }}>
  <h1 class="title mb-6">Training from {monthYear}</h1>
  
  <ul class="space-y-4">
    {sortedEntries.map(entry => (
      <li>
        <a href={`/training/${entry.slug}`}>{entry.data.title}</a>
      </li>
    ))}
  </ul>
</PageLayout> 