---
import { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

interface Props {
	media: CollectionEntry<"media-library">;
}

const { media } = Astro.props;
---

<li class="w-full p-2 md:w-1/2 lg:w-1/2">
	<a
		class="block h-full rounded-2xl bg-[#FEC686] px-6 py-3 text-center text-black transition-transform hover:scale-105"
		href={`/media-library/${media.slug}`}
	>
		<div class="mx-auto h-[200px] w-[200px]">
			<img
				class="h-full w-full rounded-lg object-cover"
				src={media.data.coverImage.src.src}
				alt={media.data.coverImage.alt}
				width={200}
				height={200}
			/>
		</div>
		<div class="mt-3 font-mono">
			<h2 class="text-sm font-bold">{media.data.title}</h2>
			<p class="mt-2 text-sm">
				<FormattedDate date={media.data.publishDate} />
			</p>
			{
				media.data.tags.length > 0 && (
					<div class="mt-2 flex flex-wrap justify-center gap-2">
						{media.data.tags.map((tag) => (
							<span class="rounded-md bg-[#5D6B00] px-2 py-1 text-xs text-[#FFFFFF]">{tag}</span>
						))}
					</div>
				)
			}
			<p class="mt-2 text-xs italic">{media.data.description}</p>
		</div>
	</a>
</li>
